.about-page {
  padding: var(--spacing-md);
}

.about-page .title {
  color: var(--color-white);
  font-size: 5rem;
}

.about-page .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--spacing-md);
  width: 100%;
  height: auto;
  margin-top: var(--spacing-md);
}
