.context-page {
  padding: var(--spacing-md);
}

.context-page .title {
  color: var(--color-white);
  font-size: clamp(2rem, 10vw, 5rem);
  line-height: 1.1;
}

.context-page .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--spacing-md);
  width: 100%;
  height: auto;
  margin-top: var(--spacing-md);
}
